body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #696969;
    align-items: center;
}

.p-historia {
    text-align: justify;
    font-family: Arial;
    margin-left: 16%;
    margin-right: 16%;
}

header {
    padding: 20px;
    text-align: center; 
    background-color: black;
    width: 100%;  
    color: aliceblue; font-size: 50px;
}

h2 {
    text-align: center; 
    text-decoration: underline;

}

div img {
    border: solid 3px;
    width:  400px;
}

span {
    color: #f33;
}

.espaçamento-h2 {
    margin-top: 60px;
    margin-bottom: 28px;
}