body {
    margin: 0;
    padding: 0;
    background-color: #696969;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

.p-historia {
    text-align: justify;
    font-family: Arial;
    margin-left: 20%;
    margin-right: 20%;
}

header {
    padding: 20px;
    text-align: center; 
    background-color: black;
    width: 100%;  
    color: aliceblue; font-size: 50px;
    position: fixed;
}

h2 {
    text-align: center; 
    text-decoration: underline;
}

.pack-img {
    border: solid black 3px;
    width:  400px;
    border-radius: 35px;
}

span {
    color: #f33;
}

.espaçamento-h2 {
    margin-top: 45px;
    margin-bottom: 25px;
}

div {
    text-align: center;
}

.img1 {
    margin-top: 6%;
}

footer {
    margin: 5%;
}