body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#55555e, #23282e,#3a3d41, #202124e7, #3b3b44, #17171b);
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

.h2-1 {
    margin-top: 15vh;
}

.p-historia {
    text-align: justify;
    font-family: Arial;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 15px;
    min-width: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw;
    height: 6.7vh;
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;   
}

h1 {
    color: aliceblue; 
    font-size: 42px;

}

h2 {
    text-align: center; 
    text-decoration: underline;
}

span {
    color: #f33;
}

.espaçamento-h2 {
    margin-top: 45px;
    margin-bottom: 25px;
}

div {
    margin: 0 auto;  
    text-align: center;
}

.pack-img {
    border: solid black 3px;
    width: 25vw;
    min-width: 230px;
    height: auto;
    border-radius: 35px; 
}

footer {
    margin: 5%;
}
